/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0e0e0e;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* FADING ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.9s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}


/* NAVBAR */
.navbar {
    width: 100%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #2b2b2b;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

/* NAV LINKS (DESKTOP) */
.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    border: 2px solid #fff;
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-links a:hover {
    background: #fff;
    color: #000;
    transform: scale(1.05);
}

/* MOBILE MENU BUTTON */
.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* MOBILE DROPDOWN MENU */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}

.mobile-menu a {
    padding: 12px 0;
    font-size: 18px;
    color: white;
    text-decoration: none;
}


/* HERO */
.hero {
    padding: 120px 20px;
    min-height: 90vh;
    background: url('images/bg1.jpg') center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px black
}

.hero h1 {
    font-size: 50px;
    font-weight: 700;
}

.hero p {
    margin: 20px auto;
    max-width: 700px;
    opacity: 0.85;
    font-size: 18px;
}

.btn {
    display: inline-block;
    border: 2px solid #fff;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background: #fff;
    color: #000;
    transform: scale(1.05);
}

.image-grid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.image-grid img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
}

.image-grid img:hover {
    transform: scale(1.05);
}

/* ABOUT */
.about {
    padding: 90px 40px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-align: center;
}

.about p {
    max-width: 900px;
    margin: auto;
    font-size: 20px;
    opacity: 0.9;
    line-height: 1.6;
}

/* HOURS */
.hours {
    padding: 100px 40px;
    text-align: center;
}

.hours ul {
    list-style: none;
    margin-top: 30px;
}

.hours li {
    font-size: 20px;
    margin: 12px 0;
}

/* CONTACT */
.contact {
    padding: 100px 40px;
    border-top: 1px solid #333;
    text-align: center;
}

.contact form {
    max-width: 650px;
    margin: 40px auto 0 auto;
}

.contact .row {
    display: flex;
    gap: 20px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}

.contact textarea {
    height: 160px;
    resize: none;
}

.contact button {
    margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }

    .image-grid img {
        width: 90%;
        height: auto;
    }

    .contact .row {
        flex-direction: column;
    }
}
.gallery {
    padding: 80px 20px;
    border-top: 1px solid #333;
}

.gallery h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.gallery-box {
   column-count: 4;
    column-gap: 20px;
}

.gallery-box img {
     width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.gallery-box img:hover {
    transform: scale(1.05);
}
.hero {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.whatsapp-float {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 85px;
    height: 85px;

    background-color: #25D366;
    border-radius: 50%;
    overflow: hidden;       
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 12px 35px rgba(37, 211, 102, 0.55);
    z-index: 999999;
    cursor: pointer;
    transition: 0.25s ease;
}

.whatsapp-float:hover {
    transform: scale(1.18);
    box-shadow: 0 18px 45px rgba(37, 211, 102, 0.75);
}

.whatsapp-icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.whatsapp-icon {
    width: 55px;    /* logo büyüdü */
    height: 55px;
}
